@import "../variables";

#benefits {
  display: flex;
  flex-direction: column;
  color: #b967ff;
}

.benefits-container {
  display: flex;
  flex-direction: column;
  margin: 50px;

  @media (min-width: $desktop) {
    margin: 100px 100px 400px 100px;
  }
}

.benefits-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.benefits-title {
  align-self: flex-start;
  color: $title;
}

.benefit {
  display: flex;
  padding: 16px;
  flex-direction: column;
  border-width: 2px;
  border-style: solid;
  border-color: #00b8ff #00b8ff #4900ff #4900ff;
  border-radius: 20px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.benefit-title {
  color: #ffff;
}

.benefit-description {
  color: $subtext-color;
}
