@import "../variables";

#home {
  height: 65vh;
  color: #b967ff;
  position: relative;
  background: url("../assets/bkg.png") center center/cover no-repeat;
}

.home-title {
  font-size: 2rem;
  color: $title;

  @media (min-width: $desktop) {
    font-size: 2.5rem;
  }
}

.home-subtitle {
  font-size: $subtext-size;
  color: $subtext-color;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px 25px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-get-started-button {
  height: 35px;
  width: 150px;
  border-width: 1.5px;
  border-color: #ffff #75747b #75747b #ffff;
  border-style: solid;
}

.home-get-started-button-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
