@import "../variables";

$border-width: 2px;
$border-color: #eaeaea #75747b #75747b #eaeaea;
$border-style: solid;

.login-form {
  width: 85%;
  background-color: #ffffff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: black;
  border-width: $border-width;
  border-style: $border-style;
  border-color: $border-color;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    width: 30%;
  }
}

.close-form-button {
  align-self: flex-end;
  border-width: $border-width;
  border-style: $border-style;
  border-color: $border-color;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding: 0px 10px 20px 10px;
}

.form-inputs {
  display: flex;
  width: 80%;
  gap: 8px;
  flex-direction: column;
}

.login-form-input {
  height: 35px;
  border-width: $border-width;
  border-style: $border-style;
  border-color: $border-color;
}

.login-button {
  padding: 5px 25px;
  border-width: $border-width;
  border-style: $border-style;
  border-color: $border-color;
  color: white;
  background-color: #b967ff;
}

.form-toggle-link {
  text-decoration: none;
  color: #b967ff;
}

.error-text {
  color: red;
  font-size: 1rem;
  font-weight: 400;
}
