#search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-box {
  width: 50%;
  height: 35px;
  border-radius: 2px;
  text-indent: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #75747b #ffff #ffff #75747b;
}
