@import "../variables";

#about {
  color: #b967ff;
}

p {
  font-size: $subtext-size;
}

.about-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 50px;

  @media (min-width: $tablet) {
    margin: 100px;
  }
}

.about-description {
  color: $subtext-color;
}

.about-title {
  color: $title;
}
